extends layout

block content
  h1= title
  p Welcome to #[em Mattees], a basic t-shirt e-commerce website project done by Matheus Schonarth.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p New content is automactilly added and updted – just like magic!
    p The shop has the following records:

    ul
      li #[strong Shirts:] !{data.shirt_count}
      li #[strong Copies:] !{data.shirt_instance_count}
      li #[strong Copies available:] !{data.shirt_instance_available_count} 
      li #[strong Clients:] !{data.client_count}
      li #[strong Purchases:] !{data.purchase_count}